<!-- views/visualizar_arquivos.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Arquivos</title>
    <!-- Inclua o CSS do Tailwind -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mb-4">Visualizar Arquivos</h1>
      <ul>
        <% arquivos.forEach(function(arquivo) { %>
        <li class="bg-white shadow-md rounded-md p-4 mb-4">
          <p class="text-lg font-semibold">
            Nome do Arquivo: <%= arquivo.nome %>
          </p>
          <p class="text-gray-600">Tamanho: <%= bytesToSize(arquivo.size) %></p>
          <p class="text-gray-600">
            Número de Downloads: <%= arquivo.download_count %>
          </p>
          <p class="text-gray-600">
            Link Direto:
            <a
              href="<%= arquivo.caminho %>"
              target="_blank"
              class="text-blue-500 hover:underline"
              >Download</a
            >
          </p>
          <!-- Adicione o código para exibir mais informações sobre o arquivo, se necessário -->
        </li>
        <% }); %>
      </ul>
    </div>
    <script>
      // Função para converter bytes em uma representação legível
      function bytesToSize(bytes) {
        const sizes = ["Bytes", "KB", "MB", "GB", "TB"];
        if (bytes === 0) return "0 Byte";
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + " " + sizes[i];
      }
    </script>
  </body>
</html>
